
body {
  --brand-green: #68953E;
  font-size: 100%;

  background: var(--brand-green);
}

header {
  position: relative;
}

div.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  width: 75px;
}

div.free {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;

  background: var(--brand-green);
  border-radius: 15px;
  padding: 10px;
  height: 75px;
}

div.free p {
  color: white;
  font-size: 1.5rem;
}

@media screen and (min-width: 480px) {
  .logo img {
    width: 100px;
  }

  div.free {
    height: 100px;
  }
}

@media screen and (min-width: 900px) {
  div.logo {
    top: 50px;
    left: 50px;
  }

  div.free {
    padding: 20px;
    top: 50px;
    right: 50px;
  }

  div.free p {
    border-radius: 25px;
    font-size: 3rem;
  }
}

img.hero {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.title-box {
  position: absolute;
  left: 50px;
  right: 50px;

  top: 190px;
  margin: auto;
  left: 0;
  right: 0;
  width: fit-content;
  background:  	hsl(90deg 14% 30% / 0.65);
  padding: 10px;
  border-radius: 15px;
  color: var(--brand-green);
  font-size: 2rem;
  z-index: 4;
}

.title-box h1 {
  font-weight: bold;
  text-shadow: 4px 4px 8px hsl(359deg 100% 0% / 0.9);
}

.title-box p {
  text-align: center;
  color: white;
}

@media screen and (min-width: 900px) {
  .title-box {
    padding: 15px;
    border-radius: 25px;
    font-size: 3rem;
  }
}

.wave-box {
  position: relative;
}

.wave {
  overflow: hidden;
  position: absolute;
  height: 335px;
  width: 100%;
  top: -50px;
}

.wave-path {
  width: 106%;
  max-width: unset;
  height: 50px;
}

@media screen and (min-width: 900px) {
  img.hero {
    height: 600px;
  }

 .wave {
  top: -200px
 }

 .wave-path {
  height: 200px;
 }
}

section {
  display: grid;
 /* grid-template-columns: minmax(0, 1fr);*/

  color: white;
  gap: 4rem;
  margin-bottom: 64px;
}


@media screen and (min-width: 900px) {
  section {
    /* grid-template-columns: 2fr 1fr;*/
  }

}


h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}

p, li {
  font-size: 1.25rem;
}

main {
  width: 100%;
  min-width: 300px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media screen and (min-width: 900px) {
  main {
    padding: 50px;
  }
}

main p {
  margin-bottom: 1rem;
}

main a, main h2 {
  color: white;
}

main > h2 {
  margin-top: 3rem;
}

main a:hover {
  text-decoration: none;
}

main article {
  background:  	hsl(90deg 14% 30% / 0.65);
  padding: 30px;
  border-radius: 25px;
  display: grid;
  align-content: center;
}

section.sponsors {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sponsors article img {
  width: 100%;
  padding: 0;
}

.sponsors a {
  display: block;
}

.sponsors article {
  height: 100%;
}

.sponsors a:hover {
  filter: brightness(90%);
}

.prizes {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  justify-content: space-around;
  align-items: center;
}

.prizes div {
  text-align: center;
  margin-top: 3rem;
}

a.btn {
  display: block;
  border: solid white 1px;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

a.btn:hover {
  filter: brightness(20%);
}


.btn2 {
  background: rgb(128, 3, 3);
  background: #283024;

  border-radius: 5px;
  border: none;
  padding: 0;
  display: inline-block;
}

.btn2 span {
  display: inline-block;
  background: rgb(207, 3, 3);
  background: var(--brand-green);

  color: white;
  padding: 15px;
  border-radius: 5px;
  transform: translateY(-5px);
  transition: transform 500ms;
}

.btn2:hover span {
  cursor: pointer;
  transform: translateY(-6px);
  transition: transform 250ms;
}

.btn2:active span {
  transform: translateY(1px);
  transition: transform 50ms;
  text-align: center;

}

.thank-you-sponsors {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
